        #google-logo{
            margin: 15px 550px 10px 550px;
        }

        .search-form{
            margin: 15px 590px 27px 430px;
            position: relative;
        }

        #magnifying-glass{
            position:absolute;
            width: 20px;
            top: 13px;
            left: 15px;
            opacity: 0.4;
        }

        #search-box{
            width:550px;
            height: 40px;
            border-style: solid;
            border-radius: 30px;
            border-width: thin;
            border-color: lightgray;   
            text-indent: 40px;
            /* position: relative; I'm not sure why this is here */
        }
       
       #search-box:hover{
        box-shadow: 0px 0px 2px 3px rgba(223,223,223, 0.5);
        border-color: #dadce0;
        padding: 1px;
       }
        
        #search-box:focus
        {
            border-style: solid;
            outline:none;
            text-align: justify;
        }
        

        .navBox{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none; /*1. removes bullet points*/
            /* margin: 0 0 0 1010px; */
            padding: 0;  /* 3. This removes the list bullet points*/
            margin:0;
        }

        .navElements{
            background-color:rgb(253, 253, 253);
            padding: 7px;
            /* display:inline;  2. If this is off, even if padding is 0 bullet points will appear *
            Unneeded with flex
            */
        }
        .navBarLinks{
            font-family: Arial,sans-serif;
            font-size: 13px;
            color:black;
            text-decoration: none;
        }

        #signInButton{
            padding:10px 25px 10px 25px;
            border-width:0px;
            border-radius:5px;
            color:white;
            background-color: rgb(26,115,232);
        }

        #signInButton:hover{
            background-color: rgb(47, 130, 240);
            cursor: pointer;
        }

        #circles-3x3{
            /* position:relative; */
            width: 25px;
            padding: 7px;
            margin-left: 1px;
            margin-right: 0px;
        }

        #circles-3x3:hover{
            background-color:rgba(231, 231, 231,0.4);
            border-radius:50%;
        }

        .search-buttons{
            width: 130px;
            height: 35px;
            padding: 2px;
            margin-inline: 8px;
            color:rgb(35,35,35);
            /* color:hotpink; */
            background-color: #f8f9fa;
            border: solid;
            border-width: 1px;
            border-radius: 4px;
            border-color:#f8f9fa;
            font-family: arial,sans-serif;
        }

        .search-buttons:hover{
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            border-color: #dadce0;
        }

        .search-buttons-box{
            display:flex;
            justify-content: center;

        }
        .Pakistan-bar{
            display: flex;
            justify-content: flex-start;
            padding-left: 18px;
            margin: 230px 0 0 0;
            background-color: #f2f2f2;
            color:#70757a;
            font-size: 14px;
            font-family: Arial, Sans-serif;
            border: solid;
            border-width: 0 0 1px 0;
            border-color: #D5D5D5;
        }

        .bottom-links-list{
            display: flex;
            padding:0;
            margin: 1px 0 0 10px;
            height:40px;
            background-color: #f2f2f2;
            color:#70757a;
            align-items: center;
            list-style-type: none;
            font-size: 14px;
            font-family: Arial, Sans-serif;
        }

        .bottomLeft-list-item{
            padding:14px;
        }

        .bottomRight-list-item{
            padding-left: 14px;
        }

        #bottomRight-first-Item{
            margin-left: auto;
        }

        #bottomRightmost-item{
            padding-right: 24px;
        }

        .Bottom-bar-links{
            font-family: Arial,sans-serif;
            font-size: 14px;
            color:#70757a;
            text-decoration: none;
        }